<header id="cover">
  <h1>CSS Basic Workshop</h1>
  
  <ul class="modules">
    <li><a href="/module/1">Module 1: Introduction to CSS.</a></li>
    <li><a href="/module/2">Module 2: Cascade, specificity and inheritance</a></li>
  </ul>  
  
  <p class="attribution">
    @nobuti</br>February 2014.
  </p>
</header>