<h1>CSS Basic Workshop</h1>
<h2>Contents</h2>

<h3>Module 1</h3>
<ul>
  <li>What is CSS</li>
  <li>Why CSS</li>
  <li>CSS Levels</li>
  <li>How it works</li>
  <li>How to add styles to documents</li>
  <ul>
    <li>Linking</li>
    <li>Embeding</li>
    <li>Inline</li>
    <li>Import</li>
  </ul>
  <li>Styles</li>
  <li>Selectors</li>
  <ul>
    <li>Simple selector</li>
    <li>Class selector</li>
    <li>ID selector</li>
    <li>Attributte selector</li>
    <li>Pseudoclasses selectors</li>
    <li>Selectors based on relationships</li>
  </ul>
</ul>
