<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>CSS: Introduction</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="page">
      <%= yield %>
    </div>
    <script src="/javascript/app.js"></script>
  </body>
</html>