* {
  padding:0;  
  margin:0;
  font:inherit;
  color:inherit;
}

html {
  background-color: #111;
}

body {
  @include proxima-regular;
}

button {
  padding:.2em .5em;
}

a {
  @include transition(all 0.25s);
  border-bottom: 1px solid white;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid transparent;
}

select {
  color: black;
}

code, pre, style, textarea, input {
  font-family: Consolas, 'Andale Mono', 'Courier New', monospace; 
  background:rgba(0,0,0,.4);
}

code {
  color: white;
  padding:.1em .25em;
  white-space: nowrap;
  border-radius: .2em;
  background: #d35400;
}

pre, style, textarea {
  padding:.3em .5em;
  margin-left: -.1em;
  border: none;
  box-shadow: 0 0 .5em rgba(0, 0, 0, 0.5) inset;
}

pre {
  background: none;
  box-shadow: none;
  font-size: 24px;
  margin-bottom: 1em;
  padding: 0;
}
  pre > code {
    background: none;
    border: 0;
    box-shadow: none;
    color: white;
    padding: 0;
    white-space: pre;
  }

textarea {
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  width: 100%;
}

strong, b {
  font-weight:bold; 
}

  pre strong {
    text-shadow: 0 0 .6em white;
  }

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;

  th {
    @include proxima-light-italic;
    text-align: left;
  }

  th, td {
    line-height: 1.2;
    padding-bottom: 0.5em;
    vertical-align: top;
  }
}

li {
  @include proxima-light;
  margin:.2em 0 .2em .2em;
}

ul {
  list-style:none;
  margin-bottom: 1em;
}

ol {
  margin-left:2em;  
}

ul ul {
  margin-left:2em;  
  list-style: none;
}

li li {
  font-size:80%;
}

ul > li:before, 
ul > li li:before {
  content:'\2014';
  padding-right: .5em;
}

.slide {
  padding:100px 2.5% 2%;
  background-clip: padding-box;
  font-size: 40px;
  text-shadow:.05em .05em .1em rgba(0,0,0,.4);
  color: white;
}

#indicator {
  @include border-radius(0 0 4px 4px);
  @include box-shadow(0 3px 2px rgba(0, 0, 0, 0.5));
  @include proxima-regular;
  background-color: white;
  border: none;
  color: #222;
  padding: 5px 0;
  width: 50px;
  text-align: center;
  text-shadow: none;
  top: 0;
  right: 50px;
}
   
.slide {

  h2 {
    @include proxima-black;
    font-size: 40px;
    line-height: 1.6;
  }

  p, li, th, td  {
    font-size: 0.75em;

    &.thin {
      font-size: 0.65em;
    }
  }

  strong {
    @include proxima-bold;
  }

  em {
    @include proxima-light-italic;
    color: #d35400;
  }
}

  .slide p {
    @include proxima-light;
    line-height: 1.2;
    margin-bottom: 1em;
  }
  
      

section > header.slide > h1 {
  @include proxima-black;
  font-size: 200%;
  left: 0;
  line-height: 1;
  margin-top: -.6em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
}

.slide .emphasis {
  padding: .4em .5em .3em;
  margin: .3em 0;
  background: #f80;
  background: linear-gradient(#fa0, #f80);
  color: white;
  font-weight: bold;
  letter-spacing: -.05em;
  line-height: .85;
  text-shadow: .05em .05em .1em rgba(0,0,0,.4);
  border-radius: .3em;
  box-shadow:.1em .1em .5em black;
}

.light.slide .emphasis {
  box-shadow:.1em .1em .5em rgba(0,0,0,.4);
}

.slide .emphasis::before {
  content: '\279C';
  color: rgba(255,255,255,.5);
  float: left;  
  width: .75em;
  height: 0;
  padding: .45em 0 .3em;
  margin: -.2em .2em 0 -.25em;
  border: .12em solid;
  text-align: center;
  line-height: 0;
  font-size: 120%;
  font-family: inherit;
  text-shadow: none;
  border-radius:999px;
  transform: rotate(45deg);
}


/* Syntax highlighting */

.comment {
  color: #999;
}

.string {
  color: yellow;
}

.keyword {
  font-weight: bold;
  color: deeppink;
}

.number, .boolean {
  color: #0cf;
}

.regex {
  color: orange;
}
